<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalyana Mandapam Book Mandapam</title>
    <link rel="icon" type="image/x-icon" href="/images/head1.jpg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/check.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/addCard.css">
    <link rel="stylesheet" href="../css/log-msg.css">
</head>

<body class="body">

    {{> addCard}}

    <div class="warning-card {{#if alerts}} {{alerts}} {{/if}}">
        <div class="warning-container">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span> Sorry!!!Already this mahal has been booked on that date</span>
            <ul>
                <li style="list-style: disc;">
                    <p>Please, try with some other mahal.</p>
                </li>
            </ul>
            <a href="/auth/back">Go Back</a>
        </div>
    </div>

    <div class="otp-parent {{#if active}} {{active}}   {{/if}}">


        <div class="otp-container">
            <p id="close"><i class="fa-solid fa-xmark"></i></p>
            <div class="mobile">
                <img src="../images/mobile2.png" alt="">
                <h2>OTP VERIFICATION</h2>
                <p>code has been send to</p>
                <p>*****@gmail.com</p>
                {{#if msg}} <p id="error3">{{msg}}</p> {{/if}}
            </div>
            <div class="otp-input">
                <div class="input-container">
                    <form action="/auth/validOtp" class="input-form" method="post">
                        <input type="text" class="input-box" id="input-box" name="no1">
                        <input type="text" class="input-box" id="input-box" name="no2">
                        <input type="text" class="input-box" id="input-box" name="no3">
                        <input type="text" class="input-box" id="input-box" name="no4">

                        <button type="submit">Verfiy</button>
                    </form>
                    <p>didn't get otp <a href="/auth/otp" id="resend">Resend otp</a></p>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">🏰VENUE MAHAL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <form action="/auth/distic" class="search">
                            <input type="text" id="search" placeholder="Enter your District" name="distic"
                                list="disticlist"> <button type="submit"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                            <datalist id="disticlist" style="height: 100px; width:500px">
                                <option value="Thanjavur">Thanjavur</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Pudukottai">Pudukottai</option>
                                <option value="Tiruchirappalli">Tiruchirappalli</option>
                                <option value="Ramanathapuram">Ramanathapuram</option>
                                <option value="Coimbatore">Coimbatore</option>
                                <option value="Nagapattinam">Nagapattinam</option>
                                <option value="Mathura">Mathura</option>
                            </datalist>
                        </form>
                    </li>

                </ul>
            </div>
            <div class="logo">
                {{#if logoname}}
                <p id="Symbol">{{logoname}} </p>



                {{/if}}

                <div class="user-card" id="user-card">

                    {{!-- <div class="user-name">
                        <h4>Ramakrishnan</h4>
                        <p id="x-mark2"><i class="fa-solid fa-x"></i></p>
                    </div>

                    <div class="user-image">
                        <img src="../images/user.png" alt="">
                    </div>

                    <div class="user-content">
                        <p>ram.com</p>
                        <button>Logout</button>
                    </div> --}}

                </div>

            </div>

            <a class="nav-link search"> <button id="filter-btn"><i class="fa-solid fa-filter"
                        id="filter-icon"></i></button></a>
            {{#if logoname}} <a class="nav-link" id="shopping"><i class="fa-solid fa-cart-shopping"></i></a>{{/if}}
        </div>
    </nav>

    <!--check avalablity section-->

    <section id="venue_check">

        <div class="container">

            <div class="row" id="row">
                <div class="col-md-5 col-lg-5 col">
                    <div class="card">
                        {{#each result}}
                        <div class="image img-fluid"><img src={{mahalimage}}alt="no"></div>
                        <div class="mahal-name">
                            <h6>{{mahalname}}</h6><span><i class="fa-solid fa-star"></i><a
                                    style="font-size: 13px; margin-left: 2px;">{{rating}}</a></span>
                        </div>
                        <a>{{city}},{{distic}}</a>
                        <a> <i class="fa-solid fa-indian-rupee-sign"></i> {{budjet}} <span
                                style="font-size: 13px; margin-left: 2px;">per day</span></a>
                        <div class="info"><a style="opacity: .8;">Indoor • {{indoor}} people</a></div>

                    </div>

                </div>
                <div class="col-md-7 col-lg-7 col">

                    <form action="/auth/booking?mahal_id={{id}}" class="form-parent" id="form-parent" method="post"
                        onsubmit="return handleSubmit({{id}})">
                        {{/each}}
                        <h1 style="margin-bottom: 10px;">🏰VenueMahal.com</h1>
                        {{#if message1}}
                        <!--This part of html and javascript code were excute on if condition was satisfied-->
                        <div class="alert alert-success" id="alert-1" style="opacity: .8 !important; background-color:#fa02a7; display:flex; align-items: center;
    justify-content:space-between;">
                            <h5 style="text-align: center; color:#ffffff; margin-left:20px;">{{message1}}
                            </h5>
                            <h5 style="text-align: center; color:#ffffff;" onclick="disappear()"><i
                                    class="fa-solid fa-xmark"></i></h5>

                        </div>
                        <script>
                            function disappear() {
                                document.getElementById('alert-1').style.display = "none";
                            }
                        </script>
                        {{/if}}


                        <h5 style="text-align: center;  margin-left:20px;" id="err">
                        </h5>

                        <label for="name">👨🏾 Enter Username</label>
                        <input type="text" name="name" id="username" required="Username is required">

                        <label for="phone_no">📱 Enter Phone no:</label>
                        <input type="text" name="phone_no" id="phone_no" required="Phone no is required">

                        <label for="email">📧 Enter Email:</label>
                        <input type="text" name="email" id="email1" required="Email is required">
                        <label for="Date:">🗓️ Date (Click the date button)</label>
                        <input type="date" name="date" id="date" placeholder="click the date button"
                            required="Date is required">
                        <button type="submit" onsubmit="validBooking(e,)">Check Avalablity</button>



                    </form>

                </div>

            </div>
        </div>

    </section>

    <div class="confirm">

        <div class="confirm_message">
            <div class="anime-container">
                <div class="anime-img">
                    <img src="../images/anime.png" alt="">
                </div>
                <div class="ms">
                    <a id="close"><i class="fa-solid fa-x"></i></a>
                    <h3>Upon confirming the availability
                    </h3> <span id="ht">of this date,</span>
                    <p>You may proceed by clicking the button below.
                        If you wish to cancel, please click the designated cancel button to terminate the process. Click
                        the book button to proceed with the booking process.
                    </p>
                    <h5> <button id="cancelBtn1">Cancel</button> <button id="book1">Book</button></h5>

                </div>
            </div>
        </div>

    </div>

    <div class="terminate">
        <div class="confirm_message">
            <div class="anime-container">
                <div class="anime-img">
                    <img src="../images/anime3.png" alt="">
                </div>
                <div class="ms">
                    <a id="close"><i class="fa-solid fa-x"></i></a>
                    <h3>Unfortunately,
                    </h3> <span id="ht">the selected booking date is not available.</span>
                    <p>Please try another date or choose a different venue.
                    </p>
                    <h5> <button id="cancelBtn2" style="padding: 5px 20px;">close</button>

                </div>
            </div>
        </div>
    </div>
    <section id="venue_information">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="event_area_details">
                        <h4>Event Area Details</h4>
                        <a id="area"> <i class="fa-solid fa-chair"></i> 450 seats</a>
                        <a id="area"> <i class="fa-solid fa-child"></i> 500 floating</a>
                        <a id="area"> <i class="fa-solid fa-house"></i> Indoor</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="event_area_details" style="width: 100%;">
                        <h4>About the Venue</h4>
                        <a id="area">The wedding venue has an exceptional decor team to beautify the space for your
                            special day.
                            It also provides a complimentary changing room for the wedding couple.</a>

                    </div>
                </div>

                <div class="container">
                    <div class="venue-info">
                        <div class="other-details">
                            <h6><i class="fa-solid fa-droplet"></i> Air Conditioning</h6>
                            <p> • Yes</p>
                        </div>
                        <div class="other-details">
                            <h6><i class="fa-solid fa-credit-card"></i> Payment and Booking</h6>
                            <p>• Advance for booking is 50%</p>
                        </div>
                        <div class="other-details">
                            <h6><i class="fa-solid fa-ban"></i> Cancellation Policy</h6>
                            <p> • If Early 2 weeks before</p>
                        </div>
                        <div class="other-details">
                            <h6><i class="fa-solid fa-car"></i> Parking Space</h6>
                            <p> • 80 Car parking</p>
                            <p> • 100 bikes parking</p>
                        </div>
                        <div class="other-details">
                            <h6><i class="fa-solid fa-bowl-food"></i> Cuisines Allowed </h6>
                            <p> • Veg</p>
                            <p> • Non Veg</p>

                        </div>
                        <div class="other-details">
                            <h6><i class="fa-solid fa-person-shelter"></i> Rooms available </h6>


                            <p> • 3 Guest Rooms</p>
                        </div>



                    </div>
                </div>









            </div>
        </div>
    </section>

















    <section id="venue_search">

        <!--Filter Section-->
        <div class="filter">
            <div class="title">
                <i class="fa-solid fa-xmark" id="x-mark1"></i> <a style="color: #eb25a9;">VenueMahal.com</a>
            </div>
            <p id="p">VenueMahal provide customer requirements .Enter your requirements below😊😊😊</p>

            <div class="filter-details">
                <form action="/auth/filter" method="get">
                    {{#if msg}}
                    <p>{{msg}}</p>
                    {{/if}}
                    <div class="input">
                        <input type="text" name="amount" placeholder="💰 Enter your budget">
                    </div>
                    <div class="input">
                        <input type="text" name="city" placeholder="🏙️ Enter your District">
                    </div>
                    <div class="input">
                        <input type="text" name="rating" placeholder="🏙️ Enter a rating 1-5">
                    </div>
                    <div class="input">
                        <p><span style="opacity: .8;">Choose your choice:</span> <input type="radio" name="ac"
                                value="Ac"> A/c
                            <input type="radio" name="ac" value="Non-Ac">Non-A/c
                        </p>

                    </div>
                    <div class="input">
                        <button type="submit">Filter <i class="fa-solid fa-filter" id=""></i></button>
                    </div>
                </form>
            </div>
        </div>


        <!--Venue card creation-->
        <div class="venue_card">
            <div class="container-fluid">
                <div class="details">
                    <a>🚀 Best Wedding Venues in Chennai 🚀</a>
                    <p>VenueMahal.com is there to help you out with a list of Best Wedding Venues in Chennai to match
                        your requirements. Whether you want a grand or an affordable yet beautiful one, we have included
                        different kinds of Wedding Venues in Chennai with Reviews, Menu, Availability, Cost &amp;
                        Excellent services</p>
                </div>
                <div class="row">

                    {{#each result1}}
                    <div class="col-md-4">
                        <div class="cards">
                            <div class="images img-fluid"><img src={{mahalimage}} alt="no"></div>
                            <div class="mahal-name">
                                <h6>{{mahalname}}</h6><span><i class="fa-solid fa-star"></i><a
                                        style="font-size: 13px; margin-left: 2px;">{{rating}}</a></span>
                            </div>
                            <a>{{city}} , {{distic}}</a><br>
                            <a> <i class="fa-solid fa-indian-rupee-sign"></i> {{budjet}} <span
                                    style="font-size: 13px; margin-left: 2px;">per day</span></a>
                            <div class="info"><a style="opacity: .8;">Indoor • {{indoor}} people</a> <a
                                    href="/auth/info?id={{id}}" id="info">More Info</a></div>

                        </div>
                    </div>
                    {{/each}}



                </div>
            </div>
        </div>
    </section>


    <!--Footer Section-->

    <footer id="footer">
        <div class="container text-center">
            <h4>JOIN OUR NEWSLETTER</h4>
            <p>Get our updates, feature and much more on your inbox</p>
            <input type="text" id="text" required="Name is required"> <span>
                <button onclick="window.alert(`
        Thanks for subscribe !!!.
        Get our updates, feature and much more on your inbox`)">Subscribe</button></span>
        </div>

        <div class="container foot-content">
            <div class="row">
                <div class="col-md-3 p-2">
                    <h4>VENUE MAHAL</h4>
                    <p>
                        234,Karandhai Road
                        Near Thanjai BigTemple,Thanjavur 616616
                    </p>
                    <p>Phone:+91 6380185040</p>
                    <p>Email:venuemahal635@gmail.com</p>
                </div>





                <div class="col-md-3 mt-5 p-2">
                    <h5>USEFUL LINKS</h5>
                    <p> <a href="/">HOME </a> &nbsp; </p>
                    <p> <a href="/#service">SERVICE</a> &nbsp;</p>
                    <p> <a href="/#about">ABOUT</a> &nbsp;</p>
                    <p><a href="/#pricing">PRICING</a> &nbsp;</p>
                </div>
                <div class="col-md-3 mt-5 p-2">
                    <h5>FAST MOVING ZONE</h5>
                    <p>Marriage hall in Bangalore</p>
                    <p> Marriage hall in kerala</p>
                    <p> Marriage hall in Visa</p>
                </div>
                <div class="col-md-3 mt-5 p-2">
                    <h5>OUR SOCIAL NETWORKS</h5>
                    <p>watch out us on social media and if you wish support us!</p>
                    <div class="social-icon">
                        <i class="fa-brands fa-twitter" id="social-icon"></i>
                        <i class="fa-brands fa-facebook" id="social-icon"></i>
                        <i class="fa-brands fa-square-instagram" id="social-icon"></i>
                        <i class="fa-brands fa-whatsapp" id="social-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right">
            <div class="container">
                <h5 style="color: whitesmoke;">2023 - 2025 ALL RIGHTS RESERVED BY VENUEMAHAL.COM</h5>
            </div>
        </div>
    </footer>
    <script src="../js/addCard.js"></script>
    <script src="../js/card.js"></script>
    <script src="../js/filtercard.js"></script>
    <script src="../js/formValitation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>